#entradas {
    background-color: rgba(0, 0, 0, 0.425);
    padding: 20px;
    border-radius: 8px;
    

}

#entradas img {
    height: 150px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 20px;


}

#titulo-entradas {
    text-align: center;
    color: #a4944a;
    margin-bottom: 20px;
    font-size: 28px;
    


}

#contenedor-entradas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    


}

#contenedor-entradas p {
    margin-left: 40px;
    margin-right: 40px;




}

#entrada-titulo {
    font-size: 20px;





}

#entrada-carta {
    color: white



}

[id^="entrada-carta"] {
    background-image: url('/static/img/fondoimagenes.jpg'); 
    border-radius: 8px;
    text-align: center;
    


}
