{% extends "base.html" %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_mis_reservas.css') }}">
{% endblock %}
{% block title %}Le Maison Gourmet{% endblock %}

    {% extends "base.html" %}

    {% block title %}Le Maison Gourmet{% endblock %}

    {% block content %}
    <h1 id="titulo-principal">Historial de reservas del usuario</h1>
    <p id="mensaje-introductorio-historial">Aquí puedes ver todo el historial de tus reservas</p>

    <!-- PRIMER ESTADO: USUARIO NO LOGEADO-->
    {% if reservas == None %}
        <div class="mensaje-login">
            <p id="mensaje_">Iniciá sesión para ver tus reservas.</p>

            <a href="{{ url_for('iniciar_sesion') }}">
                <button id="boton-login">Iniciar sesión</button>
            </a>
        </div>

    <!-- LOGEADO - USAMOS JINJA (VERSION CORRECTA)-->
     <!-- USUARIO SIN RESERVAS-->
    {% elif reservas|length == 0 %}
        <p id="usuario-sin-reservas">Historial limpio. Haz alguna reserva!</p>
        <a href="{{ url_for('pagina_reservas') }}" id="link-reservar">Reservar<a>
    {% else %}
        <!-- USUARIO CON RESERVAS-->
        <div class="contenedor-reservas">
            {% for reserva in reservas %}
            <div class="card-reserva">
                <img src="{{ url_for('static', filename='img/calendario.jpg') }}" id="imagen-calendario">
                <div class="info-reserva">
                    <div class="hora">
                        <p id="titulo-hora">Hora</p>
                        <p id="hora-valor">{{ reserva.hora_reserva }}</p>
                    </div>
                    <div class="mesa">
                        <p>Mesa</p>
                        <p>{{ reserva.numero_mesa }}</p>
                    </div>
                    <div class="fecha">
                        <p>Fecha</p>
                        <p>{{ reserva.fecha_reserva }}</p>
                    </div>
                    <div class="cantidad-personas">
                        <p>Personas</p>
                        <p>{{ reserva.cantidad_personas}}</p>
                    </div>
                </div>
                <div class="estado-reserva">
                    <p class="{{ reserva.estado }}">{{ reserva.estado}}</p>
                    {% if reserva.estado == "pendiente" %}
                    <form method="POST" action="/cancelar_reserva/{{ reserva.id_reserva }}" class="hijo-estado-reserva">
                        <button type="submit" id="boton-cancelar-reserva">
                            Cancelar reserva
                        </button>
                    </form>
                    {% endif %}
                    
                </div>

            </div>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}