{% extends "base.html" %}
{% block title %}Le Maison Gourmet{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_horarios.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="Bienvenidos">
        <p id="bienv">Bienvenidos a</p>
        <div id="Maison1">Le Maison</div>
        <div id="Gourmet1">GOURMET</div>
        <p id="bienv">Una Experiencia Gastronomica Inolvidable</p>
    </div>

    <div>
        <h2 id="Nuestromenu">Nuestro Menu</h2>
        <div id="Menu">
            <a href="{{ url_for('pagina_menu') }}">
                <img src="{{ url_for('static', filename='img/entrada.jpg') }}" alt="Entradas">
                <p>Entradas</p>
            </a>
            
            <a href="{{ url_for('pagina_menu') }}"><img src="{{ url_for('static', filename='img/platoprinc.jpg') }}" alt="Platos Principales"><p>Platos Principales</p></a>
            
            <a href="{{ url_for('pagina_menu') }}"><img src="{{ url_for('static', filename='img/postre.jpg') }}" alt="Postres"><p>Postres</p></a>
            
        </div>
    </div>


    <div id="Reserva">
        <div id="Reserva1">
            <h2>Reserva Tu Mesa</h2>
            <p>Haz tu reserva y vive una velada inolvidable en Le Maison Gourmet</p>
            <a href="{{ url_for('pagina_reservas') }}" class="btn-reserva">Reservar Ahora</a>
        </div>
    </div>
    <section class="horarios">

    <h2>HORARIOS</h2>

    <div class="fila-horario">
        <span>DESAYUNO</span>
        <span>7:00 – 11:00 </span>
    </div>

    <div class="fila-horario">
        <span>ALMUERZO</span>
        <span>12:30 – 15:30 </span>
    </div>

    <div class="fila-horario">
        <span>CENA</span>
        <span>19:00 – 00:00 </span>
    </div>

    </section>
{% endblock %}