<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Maison Gourmet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    
    <div id="Cabecera">
        <header>
            <div id="Logo">
                    <div id="Maison">Le Maison</div>
                    <div id="Gourmet">GOURMET</div>
            </div>

            <ul id="Botones">
                <li><a href="{{ url_for('pagina_menu') }}">Menu</a></li>
                <li><a href="{{ url_for('pagina_nosotros') }}">Conocenos</a></li>
                <li><a href="{{ url_for('pagina_clientes') }}">Clientes</a></li>
                <li><a href="{{ url_for('pagina_reservas') }}">Reservas</a></li>
            </ul>
        </header>
    </div>

    <div id="Bienvenidos">
        <p id="bienv">Bienvenidos a</p>
        <div id="Maison1">Le Maison</div>
        <div id="Gourmet1">GOURMET</div>
        <p id="bienv">Una Experiencia Gastronomica Inolvidable</p>
    </div>

    <div>
        <h2 id="Nuestromenu">Nuestro Menu</h2>
        <div id="Menu">
            <a href="{{ url_for('pagina_menu') }}">
                <img src="{{ url_for('static', filename='entrada.jpg') }}" alt="Entradas">
                <p>Entradas</p>
            </a>
            
            <a href="{{ url_for('pagina_menu') }}"><img src="{{ url_for('static', filename='platoprinc.jpg') }}" alt="Platos Principales"><p>Platos Principales</p></a>
            
            <a href="{{ url_for('pagina_menu') }}"><img src="{{ url_for('static', filename='postre.jpg') }}" alt="Postres"><p>Postres</p></a>
            
        </div>
    </div>


    <div id="Reserva">
        <div id="Reserva1">
            <h2>Reserva Tu Mesa</h2>
            <p>Haz tu reserva y vive una velada inolvidable en Le Maison Gourmet</p>
            <a href="{{ url_for('pagina_reservas') }}">Reservar Ahora</a>
        </div>
    </div>

    <div id="Bloque_nosotros">
        <h2>Sobre Nosotros</h2>

        <div id="SobreNosotros">
            <img src="{{ url_for('static', filename='nosotros.jpg') }}" alt="Nosotros">
            <p>En La Maison Gourmet, combinamos tradición y creatividad para ofrecer un viaje culinario único.
            Disfruta de un ambiente elegante y de los sabores más exquisitos, preparados con ingredientes de la más alta calidad.</p>
            <a href="{{ url_for('pagina_nosotros') }}">Leer mas</a>
        </div>
    </div>

    <div id="Derechos">
        <p>© 2026 La Maison Gourmet - Todos los derechos reservados</p>
    </div>
    

</body>
</html>