{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_menu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Raleway:wght@400&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Menú{% endblock %}

    {% block content %} 
        <h2>RESTRICCIONES</h2>
           <div id="entradas">
                <h2 class="titulo-entradas">Entradas</h2>          
                <div class="contenedor-entradas">
                    {% for plato in platos if plato.categoria == 'entrada' %}
                    <div class="entrada-carta">
                        <h5 class="entrada-titulo">{{ plato.nombre }}</h5>
                        <p class="entrada-descripcion">{{ plato.descripcion }}</p>
                        <p class="entrada-precio">${{ plato.precio }}</p>
                        <p class="entrada-restriccion">${{ plato.restriccion}}</p>
                        {% if plato.imagen %}
                            <img src="{{ plato.imagen }}" alt="{{ plato.nombre }}" class="entrada-imagen">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        
            <div id="platos_principales">
                <h2 class="titulo-entradas">Platos principales</h2>          
                <div class="contenedor-entradas">
                    {% for plato in platos if plato.categoria == 'plato_principal' %}
                    <div class="entrada-carta">
                        <h5 class="entrada-titulo">{{ plato.nombre }}</h5>
                        <p class="entrada-descripcion">{{ plato.descripcion }}</p>
                        <p class="entrada-precio">${{ plato.precio }}</p>
                        {% if plato.imagen %}
                            <img src="{{ plato.imagen }}" alt="{{ plato.nombre }}" class="entrada-imagen">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>  

            <div id="postres">
                <h2 class="titulo-entradas">Postres</h2>          
                <div class="contenedor-entradas">
                    {% for plato in platos if plato.categoria == 'postre' %}
                    <div class="entrada-carta">
                        <h5 class="entrada-titulo">{{ plato.nombre }}</h5>
                        <p class="entrada-descripcion">{{ plato.descripcion }}</p>
                        <p class="entrada-precio">${{ plato.precio }}</p>
                        {% if plato.imagen %}
                            <img src="{{ plato.imagen }}" alt="{{ plato.nombre }}" class="entrada-imagen">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="bebidas">
                <h2 class="titulo-entradas">Bebidas</h2>                       
                <div class="contenedor-entradas">
                    {% for plato in platos if plato.categoria == 'bebida' %}
                    <div class="entrada-carta">
                        <h5 class="entrada-titulo">{{ plato.nombre }}</h5>
                        <p class="entrada-descripcion">{{ plato.descripcion }}</p>
                        <p class="entrada-precio">${{ plato.precio }}</p>
                        {% if plato.imagen %}
                            <img src="{{ plato.imagen }}" alt="{{ plato.nombre }}" class="entrada-imagen">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}
