<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conocenos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>La Maison Gourmet</h1>
    <p>Bienvenidos a La Maison Gourmet, un espacio donde la tradición culinaria se encuentra con la innovación. Nuestro restaurante nace con la misión de ofrecer una experiencia gastronómica única,
         en la que cada plato es una obra de arte pensada para deleitar los sentidos.

En La Maison Gourmet, cuidamos cada detalle: desde la selección de ingredientes frescos y de primera calidad, hasta la creación de recetas que combinan técnicas clásicas con toques modernos. 
El ambiente elegante y acogedor invita a disfrutar de momentos inolvidables, ya sea en una cena íntima, una celebración especial o un encuentro con amigos.

Nuestra carta refleja la pasión por la cocina de autor, con sabores que evocan lo mejor de la tradición europea y la creatividad contemporánea. Cada visita es una oportunidad para descubrir nuevas sensaciones y dejarse sorprender por la excelencia de nuestro servicio</p>
</body>
</html>