{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_resena.css') }}">
{% endblock %}
{% block title %}Reseñas{% endblock %}

{% block content %}
{% if session.get('usuario') %}
<div class="formulario-resena">
    <h3>Dejá tu reseña</h3>
    <form method="POST" action="/resenas">

        <label>Puntuación</label>
        <select name="puntuacion" required>
            <option value="">Seleccioná</option>
            <option value="5">★★★★★</option>
            <option value="4">★★★★</option>
            <option value="3">★★★</option>
            <option value="2">★★</option>
            <option value="1">★</option>
        </select>

        <label>Comentario</label>
        <textarea name="comentario" placeholder="Tu comentario..." required></textarea>

        <button type="submit">Enviar reseña</button>
    </form>
</div>
{% else %}
<p><a href="/iniciar_sesion">Iniciá sesión</a> para dejar una reseña.</p>
{% endif %}

<section class="seccion-resenas">

    {% if resenas %}
        {% for r in resenas %}
        <div class="resena">
            <h2>{{ r.nombre }} {{ r.apellido }}</h2>
            <p>{{ r.comentario }}</p>
            <span>
                {% for i in range(r.puntuacion) %}★{% endfor %}
                {% for i in range(5 - r.puntuacion) %}☆{% endfor %}
            </span>
            <small>{{ r.fecha_resena }}</small>
        </div>
        {% endfor %}
    {% else %}
        <p>No hay reseñas todavía.</p>
    {% endif %}

</section>

{% endblock %}