*{
    box-sizing:border-box;
}

#titulo-principal{
    color:white;
    margin:10px;
    padding:5px;
    font-size:40px;
}

.mensaje-login{
    background-color: white;
    padding:5px;
    margin:10px;
}

.mensaje-login p {
    font-size: 20px;
}

#boton-login{
    font-size:20px;
    background-color:white;
    border-radius: 20px;
}

/*ESTADO : El usuario está logeado, pero no tiene reservas*/
#usuario-sin-reservas{
    color:white;
    margin:10px;
    padding:10px;
}

#link-reservar{
    color:white;
    margin:10px;
    padding:10px;
}
/*ESTADO: El usuario está logeado*/
#mensaje-introductorio-historial{
    color:white;
    background-color:black;
    margin:5px;
    padding:10px;
    font-size:20px;
    border: 1px solid rgba(0, 0, 0, 0.111);
}
.contenedor-reservas{
    padding:10px;
    margin:10px;
    gap:20px;
}


.card-reserva {
    display: grid;
    grid-template-columns: auto 1fr 180px;
    align-items: center;
    gap: 20px;
    background-color: black;
    overflow:hidden;
    margin:30px;
    padding:20px;
}

.info-reserva {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
    background-color:black;

    min-width: 0;
    width: 100%;
    margin:20px;
    padding:5px;
}

.info-reserva > div {
    font-size:16px;
    background: black;
    padding: 12px;
    text-align: center;
    box-sizing: border-box;
    margin:5px;
    min-width:0;

}

.info-reserva p {
    margin: 2px;
    font-size: clamp(5px, 1.5vw, 25px);
}


.estado-reserva {
    width: 160px;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin:5px;
}

#imagen-calendario{
    width: clamp(40px, 6vw, 80px);
    height: clamp(40px, 6vw, 80px);
    border-radius: 50%;
    object-fit: cover;
}

.hora{
    padding:10px;
    background-color:black;
    color:white;
    border-right: 1px solid white;
}

.fecha{
    padding:10px;
    background-color:black;
    display:flex;
    flex-direction: column;
    color:white;
    border-right: 1px solid white;

}

.cantidad-personas{
    padding:10px;
    background-color:black;
    color:white;

}

.mesa{
    padding:10px;
    background-color:black;
    color:white;
}

#boton-cancelar-reserva{
    /*FLEX*/
    display: flex;
    align-items: center;
    gap: 5px;

    /*OTRO*/
    background-color:transparent;
    border: 1px solid black;
    color:black;
    background-color:white;
    border-radius:8px;
    padding:7px;
    font-size: clamp(5px, 1.5vw, 25px);
    font-weight:bold;
}

#boton-cancelar-reserva:hover{
    background-color: red;
    color:white;
}

#boton-cancelar-reserva{
    cursor:pointer;
}

#imagen_eliminar{
    width:30px;
    height:30px;
    color:white;
}

.confirmada{
    background-color:rgb(86, 225, 86);
    padding:5px;
    color:white;
    font-size: clamp(5px, 1.5vw, 25px);

}

.cancelada{
    background-color: rgb(212, 65, 65);
    padding:5px;
    color:white;
    font-size: clamp(5px, 1.5vw, 25px);

}

.pendiente{
    background: orange;
    padding: 5px;
    color: white;
    font-size: clamp(5px, 1.5vw, 25px);

}

#usuarios-sin-reservas{
    color:white;
}