.seccion-resenas {
    width: 100%;
    padding: 60px 40px;

    background: rgba(0, 0, 0, 0.55);
    box-sizing: border-box;
}

.resena {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(238, 201, 35, 0.267);
}

.resena h2 {
    margin: 0 0 8px 0;
    font-size: 16px;
    color: rgb(255, 209, 111);
}

.resena p {
    margin: 0;
    color: #ffffff;
    line-height: 1.5;
}

.resena span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(247, 220, 67);
}
.resena small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: rgb(247, 247, 247);
}